# unsigned settings are given job-submitting bash file
[mesh]
filename=small_arctic_10km.msh

[setup]
ice-type=topaz_forecast #cs2_smos
ocean-type=topaz_forecast
atmosphere-type=generic
bathymetry-type=etopo
use_assimilation=false
dynamics-type=bbm

[simul]
spinup_duration=0
timestep=900
time_init=2020-01-09
duration=1

[thermo]
use_assim_flux=false  #true
assim_flux_exponent=4
diffusivity_sss=0
diffusivity_sst=0
ocean_nudge_timeS=691200
ocean_nudge_timeT=691200
newice_type=4
[damage]
clip=0
disc_scheme=explicit

[dynamics]
time_relaxation_damage=15
compression_factor=10e3
C_lab=1.5e6    # 1-5
C_perturb=0.33
substeps=120
use_temperature_dependent_healing=true
ECMWF_quad_drag_coef_air=0.0016

[restart]
start_from_restart=true
type=extend
write_initial_restart=false
write_interval_restart=false
write_final_restart=true
input_path=/cluster/work/users/chengsukun/nextsim_data_dir
basename=

[output]
output_per_day=0
datetime_in_filename=true
exporter_path=

[moorings]
use_moorings=true
snapshot=false
grid_type=regular
spacing=10
output_timestep=1
#output_time_step_units=time_steps
file_length=daily
variables=conc
variables=thick
variables=velocity
variables=wind
variables=tau
variables=damage
variables=Q_assm
variables=sss
variables=sst

[statevector]
use_statevector=true
restart_from_analysis=true
ensemble_member=
grid_type=reference
output_timestep=1
reference_grid_file=reference_grid.nc

[drifters]
use_osisaf_drifters=true
use_iabp_drifters=true
iabp_ignore_restart=true
use_equally_spaced_drifters=true
spacing=50
equally_spaced_ignore_restart=true
# # use_sidfex_drifters=true
# # sidfex_drifters_output_time_step=0.125
# # sidfex_ignore_restart=true
# # sidfex_filename=SIDFEX_buoys-medium_arctic_10km-20190903T000000Z.txt

[solver]
mat-package-type=mumps

[debugging]
log-level=debug
check_fields_fast=false
